// ICON SET
@import url('./pe-icon-7-stroke.css') screen;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,700,800,400italic');

@import "mixins";
@import "variables";

body, p, h1, h2, h3, ul{
    padding:0;
    margin:0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul, li{
    list-style: none;
    list-style-type: none;
}
a {
    text-decoration: none;
    color:unset;
}
.container{
    width:100%;
    max-width: 1170px;
    padding:0 15px;
    box-sizing: border-box;
    margin:0 auto;
}
.active{
    color: $primary;
}

//// section-header fixed --> nav
.header-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid $primary;
    padding: 10px 0 !important;
    transition: all .5s ease-out;
}

///// SECTION HEADER-TOP 
.header-top-section{
    background-color: $primary;
    color: $white;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 768px){
            justify-content: space-between;
        }
    }
    .menu-left{
        &__list {

        }
        &__item{
            display:block;
            float:left;
            padding:10px 10px;
            font-weight: 300;
            font-size: 12px;

            @media (min-width: 768px){
                font-size: 14px;
            }
            @media (min-width: 1000px){
                padding:10px 15px;
            }
        }
    }
    .menu-right{
        &__list {

        }
        &__item{
            display:block;
            float:left;
            padding:10px 15px;
            font-weight: 300;
            font-size:12px;

            @media (min-width: 768px){
                font-size: 14px;
            }
        }
    }
}

///// HEADER

.header-section{
    background-color: $bg-white;
    padding:20px 0;
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__logo{
            color: $main-text;
            font-size:30px;
            font-weight: 300;
            padding:5px 15px;

            b{
                color: $primary;
                font-weight: 800;
            }
        }
        &__burger{
            font-size:32px;
            padding:0 15px;
            margin: auto 0;
            color: $main-text;
            &:hover{
                cursor: pointer;
                color: $black;
            }
            @media (min-width: 768px){
                display: none;
            }
        }
        &__list{
            width:100%;
            text-align: center;
            border-top: 1px solid rgba($black, 0.2);
            display: none;

            &:last-child{
                border-top: none;
            }
            @media (min-width: 768px){
                width:auto;
                display: flex !important;
                border:none;
            }
        }
        &__item{
            font-size:12px;
            font-weight: 700;
            padding:10px 15px;
            margin:auto;
            color:$black;
            &:hover{
                color:$primary;
            }
            
            @media (min-width: 1000px){
                 font-size:14px;
            }
        }

        i.basket{
            position: relative;
            vertical-align: middle;
            font-size:30px;
        }
    }
}

.search-section{
    padding:80px 0;
    display: none;
    box-sizing: border-box;
    background-image: url('../img/search-bg.png');
    background-color: $primary;
    background-size: cover;
    background-attachment: fixed;

    .search-bar{
        &__form{
            width:100%;
            margin:auto;
            position: relative;
        }
        &__input{
            font-size:16px;
            padding:20px;
            box-sizing: border-box;
            border:none;
            border: 1px solid rgba($white, 0.5);
            background: $white;
            width:100%;
        }
        &__button{
            color: $white;
            background-color: $primary;
            font-size:26px;
            padding:0 38px;
            box-sizing: border-box;
            border:none;
            position: absolute;
            bottom: 2px;
            top: 2px;
            right: 2px;
        }
    }
}

.slider-section{
    .slider {
        position: relative;

        &__item{
            position: relative;
            
        }
        &__img{
            width:100%;
            background-repeat: no-repeat;
        }
        &__overlay{
            position: absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            background-color:rgba($black, 0.5);
           
            &__bar{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width:100%;
                padding: 0 20px;
                box-sizing: border-box;
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }
            &__title{
                font-size: 16px;
                font-weight: 300;
                color:$white;

                @media (min-width: 768px){
                    font-size:30px;
                }
                @media (min-width: 1000px){
                    font-size:48px;
                }
                span {
                    font-weight: 700;
                    color:$primary;
                }
            }
            &__text{
                font-size: 16px;
                color:$white;
                padding: 10px 0;

                @media (min-width: 768px){
                    font-size:30px;
                }
                @media (min-width: 1000px){
                    font-size:48px;
                }
                span {
                    font-weight: 500;
                    color:$primary;
                }
            }
            &__btn{
                color: $white;
                background-color: transparent;
                border: 2px solid $primary;
                font-family: 'Roboto', sans-serif;
                padding: 7px 14px;
                font-size: 14px;
                &:hover{
                    cursor: pointer;
                    background-color: $primary;
                    border-color: $primary
                }
                
                @media (min-width: 1000px){
                    padding: 14px 28px;
                }
            }
            
        }
        &__controls{

            &__left, &__right{
                top:50%;
                left:0;
                transform: translate(0,-50%);
                position: absolute;
                height:100%;
                width:40px;
                background-color: rgba($primary, 0.5);

                @media (min-width: 768px){
                    height:70px;
                    width:70px;
                }
                @media (min-width: 1000px){
                    height:100px;
                    width:100px;
                }

                &:hover{
                    cursor: pointer;
                    background-color: rgba($primary, 1);
                }
                &:hover .slider__controls__icon{
                    color: rgba($white, 1);
                }
            }
            &__right{
                left:unset;
                right:0;
            }
            &__icon{
                color: rgba($white, 0.5);
                font-size: 20px;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                position: absolute;   

                @media (min-width: 768px){
                    font-size: 30px;
                }
                @media (min-width: 1000px){
                    font-size: 40px;
                }
            }
        }
    }
}

.feature-section{
    background-color: $bg-white;
    padding: 80px 0;

    .container{
        display: flex;
        flex-wrap: wrap;
        //flex-flow: row wrap;
        justify-content: center;
    }
    .feature-item{
        margin: 20px 0;
        text-align: center;
        width:100%;
        color: $main-text;
        &:hover .feature-item__icon,&:hover .feature-item__title{
            color: $primary;
        }
        @media (min-width: 768px){
            width:50%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        @media (min-width: 1000px){
            width:25%;
        }
        &__icon{
            font-size:70px;
        }
        &__title{
            font-size:16px;
            font-weight: 700;
            padding: 16px 0 16px 0;

            @media (min-width: 1000px){
                padding: 32px 0 16px 0;
            }
        }
        &__txt{
            font-size:14px;
            font-weight: 300;
        }
    }
}

.new-section{
    background-color: $bg-blue;
    padding:80px 0;

    .section-title{
        @include section-title;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .product-item{
        width:100%;
        position: relative;
        margin: 20px 0;
        &:hover .product-item__hover{
            transform: scale(1);
            opacity: 1;
        }
        &:hover .product-item__title{
            background-color: $primary;
        }

        @media (min-width: 768px){
            width:47%;
            margin: 20px 10px;
        }
        @media (min-width: 1000px){   
            width:22%;
        }
        &__img{
            width:100%;
        }
        &__hover{
            position: absolute;
            background-color: rgba($black, 0.5);
            border: 10px solid rgba($white, 0.55);
            box-sizing: border-box;
            top:0;
            bottom:40px;
            left:0;
            right:0;
            transform: scale(0);
            opacity: 0;
            transition: all 0.5s;
        }
        &__meta{
            @include product-item__meta;
        }
        &__title{
            @include product-item__title;
        }
    }
}
