// ICON SET
@import url('./pe-icon-7-stroke.css') screen;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,700,800,400italic');

// SCSS
@import "mixins";
@import "variables";

body, p, h1, h2, h3, ul{
    padding:0;
    margin:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
ul, li{
    list-style: none;
    list-style-type: none;
}
a {
    text-decoration: none;
    color:unset;
}
.container{
    width:100%;
    max-width: 1170px;
    padding:0 15px;
    box-sizing: border-box;
    margin:0 auto;
}

//// section-header fixed --> nav
.header-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid $primary;
    padding: 10px 0 !important;
    transition: all .5s ease-out;
}

///// SECTION HEADER-TOP 
.header-top-section{
    background-color: $primary;
    color: $white;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 768px){
            justify-content: space-between;
        }
    }
    .menu-left{
        &__list {

        }
        &__item{
            display:block;
            float:left;
            padding:10px 10px;
            font-weight: 300;
            font-size: 12px;

            @media (min-width: 768px){
                font-size: 14px;
            }
            @media (min-width: 1000px){
                padding:10px 15px;
            }
        }
    }
    .menu-right{
        &__list {

        }
        &__item{
            display:block;
            float:left;
            padding:10px 15px;
            font-weight: 300;
            font-size:12px;

            @media (min-width: 768px){
                font-size: 14px;
            }
        }
    }
}

///// HEADER

.header-section{
    background-color: $bg-white;
    padding:20px 0;
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__logo{
            color: $main-text;
            font-size:30px;
            font-weight: 300;
            padding:5px 15px;

            b{
                color: $primary;
                font-weight: 800;
            }
        }
        &__burger{
            font-size:32px;
            padding:0 15px;
            margin: auto 0;
            color: $main-text;
            &:hover{
                cursor: pointer;
                color: $black;
            }
            @media (min-width: 768px){
                display: none;
            }
        }
        &__list{
            width:100%;
            text-align: center;
            border-top: 1px solid rgba($black, 0.2);
            display: none;

            &:last-child{
                border-top: none;
            }
            @media (min-width: 768px){
                width:auto;
                display: flex !important;
                border:none;
            }
        }
        &__item{
            font-size:12px;
            font-weight: 700;
            padding:10px 15px;
            margin:auto;
            color:$black;
            &:hover{
                cursor: pointer;
                color:$primary;
            }
            @media (min-width: 1000px){
                 font-size:14px;
            }
        }

        i.basket{
            position: relative;
            vertical-align: middle;
            font-size:30px;
        }
        .active{
            color: $primary;
        }
    }
}

.search-section{
    padding:80px 0;
    display: none;
    box-sizing: border-box;
    background-image: url('../img/search-bg.png');
    background-color: $primary;
    background-size: cover;
    background-attachment: fixed;

    .search-bar{
        &__form{
            width:100%;
            margin:auto;
            position: relative;
        }
        &__input{
            font-size:16px;
            padding:20px;
            box-sizing: border-box;
            border:none;
            border: 1px solid rgba($white, 0.5);
            background: $white;
            width:100%;
        }
        &__button{
            color: $white;
            background-color: $primary;
            font-size:26px;
            padding:0 38px;
            box-sizing: border-box;
            border:none;
            position: absolute;
            bottom: 2px;
            top: 2px;
            right: 2px;
        }
    }
}

.slider-section{
    .slider {
        position: relative;

        &__item{
            position: relative;
            
        }
        &__img{
            width:100%;
            background-repeat: no-repeat;
        }
        &__overlay{
            position: absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            background-color:rgba($black, 0.5);
           
            &__bar{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width:100%;
                padding: 0 20px;
                box-sizing: border-box;
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }
            &__title{
                font-size: 16px;
                font-weight: 300;
                color:$white;

                @media (min-width: 768px){
                    font-size:30px;
                }
                @media (min-width: 1000px){
                    font-size:48px;
                }
                span {
                    font-weight: 700;
                    color:$primary;
                }
            }
            &__text{
                font-size: 16px;
                color:$white;
                padding: 10px 0;

                @media (min-width: 768px){
                    font-size:30px;
                }
                @media (min-width: 1000px){
                    font-size:48px;
                }
                span {
                    font-weight: 500;
                    color:$primary;
                }
            }
            &__btn{
                color: $white;
                background-color: transparent;
                border: 2px solid $primary;
                font-family: 'Roboto', sans-serif;
                padding: 7px 14px;
                font-size: 14px;
                &:hover{
                    cursor: pointer;
                    background-color: $primary;
                    border-color: $primary
                }
                
                @media (min-width: 1000px){
                    padding: 14px 28px;
                }
            }
            
        }
        &__controls{

            &__left, &__right{
                top:50%;
                left:0;
                transform: translate(0,-50%);
                position: absolute;
                height:100%;
                width:40px;
                background-color: rgba($primary, 0.5);

                @media (min-width: 768px){
                    height:70px;
                    width:70px;
                }
                @media (min-width: 1000px){
                    height:100px;
                    width:100px;
                }

                &:hover{
                    cursor: pointer;
                    background-color: rgba($primary, 1);
                }
                &:hover .slider__controls__icon{
                    color: rgba($white, 1);
                }
            }
            &__right{
                left:unset;
                right:0;
            }
            &__icon{
                color: rgba($white, 0.5);
                font-size: 20px;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                position: absolute;   

                @media (min-width: 768px){
                    font-size: 30px;
                }
                @media (min-width: 1000px){
                    font-size: 40px;
                }
            }
        }
    }
}


.feature-section{
    background-color: $bg-white;
    padding: 80px 0;

    .container{
        display: flex;
        flex-wrap: wrap;
        //flex-flow: row wrap;
        justify-content: center;
    }
    .feature-item{
        margin: 20px 0;
        text-align: center;
        width:100%;
        color: $main-text;
        &:hover .feature-item__icon,&:hover .feature-item__title{
            color: $primary;
        }
        @media (min-width: 768px){
            width:50%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        @media (min-width: 1000px){
            width:25%;
        }
        &__icon{
            font-size:70px;
        }
        &__title{
            font-size:16px;
            font-weight: 700;
            padding: 16px 0 16px 0;

            @media (min-width: 1000px){
                padding: 32px 0 16px 0;
            }
        }
        &__txt{
            font-size:14px;
            font-weight: 300;
        }
    }
}


.new-section {
    background-color: $bg-blue;
    padding:80px 0;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
}


.recommended-section {
    background-color: $bg-white;
    padding:80px 0;
    
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        padding:0;
    }
    .product-item__offer{
        font-family: 'Roboto', sans-serif;
        font-size:15px;
    }
    .product-item__new, .product-item__sell{
        position: absolute;
        top:10px;
        left:10px;
        border:1px solid $main-text;
        color: $main-text;
        padding:10px 20px;
    }
    .product-item__sell{
        left:unset;
        right:10px;
    }
    .filter-list{
        margin:0 auto;
        text-align: center;
        width:100%;
        padding: 20px 0 40px 0;

        &__item{
            position: relative;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            padding:7px 10px;
            border:1px solid rgba($main-text, 0.5);
            border-radius: 4px;
            color: $main-text;
            cursor: pointer;
            width:170px;
            margin:4px auto;
            @media (min-width: 620px){
                display: inline-block;
                width:unset;
                margin:4px 6px;
            }
        }
        &__number{
            position: absolute;
            height: 32px;
            width: 32px;
            background-color: $white;
            border:1px solid $main-text;
            color: $primary;
            border-radius: 50%;
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            z-index: 1;
            line-height: 32px;
            top:-25px;
            right:-15px;
            display: none;
        }
        .active{
            background-color: $primary;
            border-color: $primary;
            color: $white;
        }
    }
}


.sale-section{
    position: relative;
    background-image: url('../img/sale-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height:200px;

    @media (min-width: 768px){
        height:400px;
    }
    .sale-wrapper{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: rgba($black, 0.5);

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sale-item{
        font-family: 'Roboto', sans-serif;
        color: $white;
        width: 90%;
        text-align: center;
        margin:0 auto;

        &__title{
            font-size:30px;
            font-weight: 900;

            @media (min-width: 768px){
                font-size:60px;
            }
        }
        &__text{
            font-size:20px;
            font-weight: 300;

            @media (min-width: 768px){
                font-size:38px;
            }
        }
    }
}


.bestsellers-section {
    background-color: $bg-blue;
    padding:80px 0;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
}


.review-section{
    background-color: $bg-white;
    padding:80px 0;

    .review-item{
        &__img-wrapper{
            width:225px;
            height:225px;
            border-radius: 50%;
            overflow: hidden;
            margin:10px auto;
            margin-top:80px;
        }
        &__img{
            width:100%;
        }
        &__textbar{
            text-align: center;
            padding:30px;

            @media (min-width: 768px){
                padding:30px 70px;
            }
            @media (min-width: 1000px){
                padding:30px 120px;
            }
        }
        &__text{
            font-size:14px;
            line-height: 28px;
            font-weight: 400;
            color: $main-text;
        }
        &__name{
            font-size:16px;
            font-weight: 700;
            color:$primary;
            padding:30px 0 0 0;

            @media (min-width: 768px){
                font-size:22px;
            }
        }
        &__city{
            font-size:14px;
            font-weight: 400;
            color: $main-text;
        }
    }
    .review-handlers{
        text-align: center;
        &__wrapper{
            width:72px;
            height:72px;
            border-radius: 50%;
            border: 5px solid $black;
            overflow: hidden;
            display: inline-block;
            margin:0 8px;
            cursor: pointer;

            @media (min-width: 768px){
                margin:0 12px;
            }
        }
        &__img{
            width:100%;
        }
        .active{
            border-color: $primary;
        }
    }
}


.newsletter-section{
    padding:80px 0;
    box-sizing: border-box;
    background-image: url('../img/search-bg.png');
    background-color: $primary;
    background-size: cover;
    background-attachment: fixed;

    .setion-undertitle{
        font-size:14px;
        font-weight: 300;
        color: $white;
        text-align: center;
        padding:10px 0 40px 0;
    }

    .newsletter-bar{
        &__form{
            width:100%;
            margin:auto;
            position: relative;
            @media (min-width: 768px){
                width:540px;
            }
        }
        &__input{
            font-size:16px;
            padding:20px;
            box-sizing: border-box;
            border:none;
            border: 1px solid rgba($white, 0.5);
            background: $white;
            width:100%;
        }
        &__button{
            color: $white;
            background-color: $primary;
            font-size:26px;
            padding:0 38px;
            box-sizing: border-box;
            border:none;
            position: absolute;
            bottom: 2px;
            top: 2px;
            right: 2px;
        }
    }
}


.partners-section{
    background-color: $bg-blue;
    padding:80px 0;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    .section-title{
        margin-bottom:60px;
    }
    .partner-item{
        width:100%;
        cursor: pointer;
        border: 1px solid $primary;
        margin:20px auto;

        @media (min-width: 768px){
            width:48%;
        }
        @media (min-width: 1000px){
            width:22%;
        }
        &__img{
            width:100%;
        }
    }
}


.news-section{
    background-color: $bg-white;
    padding:80px 0;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    .news-item{
        margin:20px auto;
        width:100%;
        
        @media (min-width: 768px){
            width:48%;
        }
        @media (min-width: 1000px){
            width:30%;
        }
        &__img{
            width:100%;
        }
        &__title{
            font-size:16px;
            font-weight: 800;
            padding:10px 0;
            border-bottom: 3px solid $primary;
        }
        &__text{
            font-size:14px;
            line-height: 24px;
            padding:10px 0;
        }
    }
}


.contact-section{
    padding:80px 0;
    background: linear-gradient(rgba($bg-contact, 0.7), rgba($bg-contact, 0.7)), 
    url('../img/contact-bg.png') $bg-contact no-repeat;
    background-position: center;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    .contact-left{
        font-size:14px;
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        width: 100%;
        padding:10px;
        box-sizing: border-box;

        @media (min-width: 1000px){
            width: 50%;
        }
        &__name{
            font-size:72px;
            font-weight: 300;
            span{
                color:$primary;
            }
        }
        b{
            color:$primary;
            font-weight: 600;
        }
        &__title{
            font-size:18px;
            line-height: 28px;
        }
        &__text {
            padding:10px 0;
            line-height: 24px;
        } 
        &__adress, &__phone, &__email{
            line-height: 24px;
        }
        &__icon-list{
            display: flex;
            padding:10px 0;
        }
        &__icon-item{
            font-size:20px;
            padding:7px 10px;
            margin:5px;
            border:1px solid $white;
            &:hover{
                cursor: pointer;
                border-color:$primary;
                background-color: $primary;
            }
        }
    }
    .contact-right{
        width: 100%;
        padding:30px 10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 1000px){
            width: 50%;
        }
        &__input{
            border:none;
            border:1px solid $white;
            color: $white;
            background-color: transparent;
            font-size:14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            padding:12px;
            width: 100%;
            box-sizing: border-box;
            margin:5px 0;
            
            
            &:focus{
                border-color: $primary;
            }
            @media (min-width: 1000px){
                width: 49%;
            }
        }
        &__textarea{
            resize: none;
            border:none;
            border:1px solid $white;
            color: $white;
            background-color: transparent;
            font-size:14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            padding:12px;
            width: 100%;
            box-sizing: border-box;
            margin:5px 0 30px 0;
            &:focus{
                border-color: $primary;
            }
        }
        ::placeholder{
            color: $white;
            font-size:14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            opacity: 1;
        }
    }
}


.footer-section{
    background-color: $black;
    .footer-text{
        padding:20px 0;
        text-align: center;
        color: rgba($white, 0.8);
    }
}