@import "variables";


///////////////////////////////
//    SECTION-TITLE
///////////////////////////////

.section-title{
    font-size:26px;
    font-weight: 900;
    font-family: 'Roboto', serif;
    color: $main-text;
    width:100%;
    text-align: center;
    position: relative;
    margin-bottom: 40px;

    @media (min-width: 768px){
        font-size:48px;
    }
    @media (min-width: 1000px){   
    }
    &:before{
        content: "";
        width: 165px;
        display: block;
        height: 3px;
        background: $primary;
        position: absolute;
        bottom: -16px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    &:after{
        content: "";
    width: 165px;
    display: block;
    height: 3px;
    background: $primary;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    }

    span{
        &:after{
            content: "";
        width: 165px;
        display: block;
        height: 7px;
        background: $primary;
        position: absolute;
        bottom: -25px;
        margin: 0 auto;
        left: 0;
        right: 0;
        }
    }
    &--white{
        color: $white;
        &:before{background: $white}
        &:after{background: $white}
        span{
            &:after{background: $white}
        }
    }
    &--whitetitle{
        color: $white;
    }
}


///////////////////////////////
//    PRODUCT-ITEM
///////////////////////////////

.product-item{
    width:100%;
    position: relative;
    margin: 20px 0;
    background-color: $white;
    &:hover .product-item__hover{
        transform: scale(1);
        opacity: 1;
    }
    &:hover .product-item__title{
        background-color: $primary;
    }

    @media (min-width: 768px){
        width:47%;
        margin: 20px 10px;
    }
    @media (min-width: 1000px){   
        width:22%;
    }
    &__img{
        width:100%;
    }
    &__hover{
        position: absolute;
        background-color: rgba($black, 0.5);
        border: 10px solid rgba($white, 0.55);
        box-sizing: border-box;
        top:0;
        bottom:40px;
        left:0;
        right:0;
        transform: scale(0);
        opacity: 0;
        transition: all 0.5s;
    }
    &__meta{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:195px;
        text-align: center;
    }
    &__link{
        color: $white;
        font-size: 16px;
        display: inline-block;
        border: 1px solid $white;
        padding: 10px;
        margin: 5px;

        &:hover, &:last-child:hover{
            cursor: pointer;
            background-color: $primary;
            border: 1px solid $primary;
        }
        &:last-child{
            font-size: 14px;
            text-transform: uppercase;
            display: block;
            background: rgba($black, 0.5);
            border: 1px solid $white;
            margin: 5px;
            i{
                font-size: 18px;
                margin-right: 5px;
            }
        }
    }
    &__icon{
        font-size: 30px;
        vertical-align: middle;
    }
    &__title{
        position: absolute;
        bottom:0px;
        height:40px;
        width:100%;
        color:$white;
        font-size:18px;
        font-weight: 700;
        font-family: 'Roboto', serif;
        background-color: $black;
        transition: all 0.5s;
    }
    &__name {
        
        font-size:18px;
        height:40px;
        width:100%;
        line-height: 40px;
        padding-left:15px;
        box-sizing: border-box;
    }
    &__price {
        background-color: rgba($white, 0.5);
        height: 40px;
        right:0;
        top:0;
        position: absolute;
        line-height: 40px;
        padding:0 15px;
        box-sizing: border-box;
    }
    &--blue{
        background-color: $bg-blue;
    }
}


///////////////////////////////
//    PRIMARY BUTTON
///////////////////////////////

.btn{
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 300;
    color:$white;
    border:none;
    border-radius: 4px;
    background-color: $primary;
    &:hover{
        cursor: pointer;
        background-color:rgba($primary, 0.8);
    }
}